
@{
    ViewData["Title"] = "Cart";
}
@model List<ShoppingCart.Models.Dto.CartItemDto>

<h1>カート </h1>
<div class="container" id="container">
    <a href="../items">&lt;&emsp;商品一覧へ</a>
    @if (Model != null) {
        int total = 0;
        @foreach (var value in @Model) {
            <div class="row m-1">
                <div class="col-md-6 bg-light p-1">
                    <img src=@value.item.FilePath class="w-75" />
                </div>
                <div class="col-md-6 bg-light text-center p-1">
                    <h2>@value.item.ItemNm</h2>
                    <h9>JANコード：@value.item.JanCd</h9>
                    <hr class="m-4" />
                    <p>@(
                     string.Format("{0:#,0}", value.item.Price)
                     ) 円</p>
                    <div class="row bottom-0">
                        <form class="cart-form">
                            <select name="qty" class="qty-select">
                                @for (int i = 1; i <= value.item.Qty; i++)
                                {
                                    if (value.InCartQty == i)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                            <input type="hidden" name="janCd" value="@value.item.JanCd" class="jan-cd-input">
                            <button type="button" class="btn btn-link delete-btn">削除</button>
                        </form>
                    </div>
                </div>
            </div>
            total += value.item.Price * value.InCartQty;
        }
        <hr class="m-9"/>
        <h3 class="col-md-12 d-flex justify-content-end">小計：@string.Format("{0:#,0}", total)</h3>
        <div class="text-center">
            <a href="../register" class="btn-lg btn-warning text-white text-decoration-none">レジへ</a>
        </div>
    } else {
        <h2>商品がありません</h2>
    }
</div>
<!--HTMLではGETとPOSTしか選べないためJSの非同期処理で対応-->
@section Scripts {
    <script>
        document.body.addEventListener('click', async (event) => {
            if (event.target.matches('.delete-btn')) {
                fetchAndResponse(event);
            }
        });
        document.body.addEventListener('change', async (event) => {
            if (event.target.matches('.qty-select')) {
                fetchAndResponse(event);
            }
        });
        async function fetchAndResponse(event) {
            const target = event.target;
            // buttonから一番近い.cart-formを探す
            const form = target.closest('.cart-form');
            const janCd = form.querySelector('.jan-cd-input').value;
            // 数量が必要なのは更新時だけ
            let qty = 0;
            if (target.matches('.qty-select')) {
                qty = form.querySelector('.qty-select').value;
            }

            try {
                let response = null;
                if (target.matches('.qty-select')) {
                    response = await fetch(`/cart/items/${janCd}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams({ qty })
                    });
                } else {
                    response = await fetch(`/cart/items/${janCd}`, {
                        method: 'DELETE'
                    });
                }
                if (response.ok) {
                    /*
                        リロードだと再リクエストされ、負荷がかかるためやらない。
                        window.location.reload();
                    */
                    /*
                        PUTとDELETEは非同期通信であるためサーバ側でレスポンスを返してもビューが再描画されない。
                        そのためJS側で受け取ったレスポンスから再描画する。
                    */
                    // サーバーから返されたHTMLをテキストとして取得
                    const htmlText = await response.text();
                    // 取得したHTML文字列を仮のDOMに変換
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(htmlText, 'text/html');

                    // 新しいcontainerの中身を取得
                    const newPageHtml = doc.body.innerHTML;

                    // 現在のドキュメントのHTMLを新しいものに置き換え
                    document.body.innerHTML = newPageHtml;

                } else {
                    alert(response.status+":"+response.JSON);
                }
            } catch (error) {
                console.error('更新エラー:', error);
                alert('更新エラーが発生しました。');
            }
        };
    </script>
}
